.hBox{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
}

.admin_background{
    -fx-background-image:url(../Img/admin-background.jpg);
    -fx-background-size: cover;
    -fx-background-position: center;
}