/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 5, 2022, 5:30:24 PM
    Author     : Hoang Anh
*/
.doctor_homepage{
    -fx-background-image: url(../Img/doctor-background.jpg);
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

